.top-cat-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  margin-bottom: 4px;
}

.top-cat-list__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: #b9b9b9;
}

.top-cat-list__subtitle span {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  border-radius: 3px;
}

.top-cat-list__subtitle .purple {
  color: #5f2eea;
  background-color: rgba(116, 51, 255, 0.1);
}

.top-cat-list__subtitle .blue {
  color: #0061f7;
  background-color: rgba(116, 51, 255, 0.1);
}

.top-cat-list__subtitle .danger {
  color: #f26464;
  background-color: rgba(245, 91, 93, 0.1);
}

.top-cat-list__subtitle .success {
  color: #4bde97;
  background-color: rgba(75, 222, 151, 0.1);
}

.top-cat-list__subtitle .warning {
  color: #ffb648;
  background-color: rgba(255, 172, 50, 0.1);
}

.top-cat-list__subtitle .primary {
  color: #2f49d1;
  background-color: rgba(47, 73, 209, 0.1);
}
